// nextflow.config

// setting parameters in config file
params.result_dir = "results"
params.ms_df_dir = "./results/ms_df"
params.feat_maps_dir = "./results/feature_map_df"


manifest {
    name            = 'Untargeted Metabolomics'
    author          = 'Carolina Gonzales Marin and Axel Walter'
    homePage        = 'https://github.com/cargonzalezmar/nextflow'
    description     = 'LC-MS data processing for Metabolomics using OpenMS and Python scripts.'
    mainScript      = 'main.nf'
    nextflowVersion = '!>=22.04.5'
    version         = '1.0dev'
}

process {
    // conda = "environment.yaml"
    cpus = 2
    memory = 8.GB
    time = '1 hour'
}

process {
    withLabel: publish {
        publishDir = [ path: params.result_dir, mode: 'copy' ]
    }
}

process {
    withLabel: publish_featuremap_df {
        publishDir = [ path: params.feat_maps_dir, mode: 'copy' ]
    }
}

process {
    withLabel: publish_ms_df {
        publishDir = [ path: params.ms_df_dir, mode: 'copy' ]
    }
}


