// nextflow.config

// setting parameter for publish dir in config file
params.result_dir = "results"

manifest {
    name            = 'Untargeted Metabolomics'
    author          = 'Carolina Gonzalez Marin and Axel Walter'
    homePage        = 'https://github.com/cargonzalezmar/nextflow'
    description     = 'LC-MS data processing for Metabolomics using OpenMS and Python scripts.'
    mainScript      = 'main.nf'
    nextflowVersion = '!>=22.04.5'
    version         = '1.0dev'
}

process {
    // conda = "environment.yaml"
    cpus = 4
    memory = 8.GB
    time = '1 hour'
    withLabel: publish_main {
        publishDir = [ path: params.result_dir, mode: 'copy' ]
    }
    withLabel: publish_ms_df {
        publishDir = [ path: params.result_dir + "/ms_df", mode: 'copy' ]
    }
    withLabel: publish_featuremap_df {
        publishDir = [ path: params.result_dir + "/feature_map_df", mode: 'copy' ]
    }
    withLabel: publish_gnps {
        publishDir = [ path: params.result_dir + "/GNPS", mode: 'copy' ]
    }
}
