// nextflow.config

// setting parameters in config file
params.result_dir = "results"

manifest {
    name            = 'Untargeted Metabolomics'
    author          = 'Carolina Gonzales Marin and Axel Walter'
    homePage        = 'https://github.com/cargonzalezmar/nextflow'
    description     = 'LC-MS data processing for Metabolomics using OpenMS and Python scripts.'
    mainScript      = 'main.nf'
    nextflowVersion = '!>=22.04.5'
    version         = '1.0dev'
}

process {
    cpus = 2
    memory = 8.GB
    time = '1 hour'
}

process {
    withLabel: publish {
        publishDir = [ path: params.result_dir, mode: 'copy' ]
    }
}

